@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Manrope', sans-serif;
}

:root {
    --Blue: hsl(217, 19%, 35%);
    --Blue: hsl(214, 17%, 51%);
    --Blue: hsl(212, 23%, 69%);
    --Blue: hsl(210, 46%, 95%);
}

body {
    font-size: 14px;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}

/** MOBILE VERSION **/

.card {
    margin:20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    width:335px;
    border-radius: 15px;
}

.img-container {
    width:335px;
    height:215px;
    overflow: hidden;
}
.img-container img {
    width:335px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
} 
.content {
    padding-top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container {
    padding:30px;
    padding-top:0;
    padding-bottom:0;
}

.content-container h2 {
    text-align: left;
    color:hsl(217, 19%, 35%);
    margin-bottom:15px;
}

.content-container p {
    text-align: left;
    line-height: 22px;
    color:hsl(214, 17%, 51%);
    margin-bottom:0px;
}

.contact {
    width:100%;
    padding:30px;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.contact img {
    border-radius: 50%;
    width:50px;
    height: auto;
    margin-right: 10px;
}

.about {
    text-align: left;
    letter-spacing: 0.5px;
}

.about h5 {
    color:hsl(217, 19%, 35%);
}

.about small {
    color: hsl(214, 17%, 51%);
}
.share-icon {
    border: none;
    border-color: transparent;
    background-color: hsl(210, 46%, 95%);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 99;
    position: relative;
    top:70px;
    left:115px;
}

.share-icon {
    font-size: 23px;
    color: hsl(214, 17%, 51%);
    cursor: pointer;
}

.active p {
    font-size: 15px;
    color:hsl(210, 46%, 95%);
    letter-spacing: 4.2px !important;
    opacity:0.5;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:120px;
    margin-left:7px;
}

.social-media {
    width:9px;
    height: auto;
    margin: 0px 7px;
}

.active {
    background-color: hsl(217, 19%, 35%) !important;
    position: absolute;
    height:85px;
    width:335px;
    top:550px;
    z-index: 9;
    flex-direction: row;
    justify-content: flex-start;   
    display: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.visible {
    display: flex;
}

.change-button {
    background: hsl(212, 23%, 69%);
    color: white;
}



/** TABLET VERSION **/

@media screen and (min-width: 520px) {
    body {
        height:max-content;
    }

    .card {
        width:480px;
        margin:40px 20px;
    }

    .img-container {
        width:480px;
        height:325px;
    }
    .img-container img {
        width:480px;
    }
    .content-container {
        padding:40px;
        padding-bottom: 30px;
    }
    .content-container h2 {
        margin-bottom:20px;
    }

    .content-container p {
        font-size: 16px;
        line-height: 24px;
    }

    .contact {
        padding: 20px 42px;
        padding-top: 0px;
    }

    .contact img {
        width:65px;
        height: auto;
        margin-right:20px;
    }

    .about h5 {
        font-size: 18px;
    }

    .about small {
        font-size: 16px;
    }

    .share-icon {
        font-size: 35px;
        padding: 5px 12px;
        top:65px;
        left:165px;
    }  

    .active {
        height:100px;
        width:480px;
        top:720px;
        position: absolute;
        z-index: 9;
        flex-direction: row;
        justify-content: flex-start;  
        display: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .visible {
        display: flex;
    }
    .social-media-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width:170px;
        margin-left:20px;
        margin-top:15px;
    }
    .active p {
        font-size: 20px;
        color:hsl(210, 46%, 95%);
        letter-spacing: 4.2px !important;
        opacity:0.5;
        margin-top:15px;
    }
    
    .social-media {
        width:9px;
        height: auto;
        margin: 0px 7px;
    }
    
}



/** DESKTOP **/

@media screen and (min-width: 1018px) {

    body {
        height:100vh;
    }
    
    main {
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-container h2 {
        margin-bottom:10px;
    }
        
    .card {
        flex-direction: row;
        background-color: #fff;
        width:1000px;
        height:375px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width:725px;
        height: 375px;
    }

    .img-container {
        width:500px;
        height:375px;
    }
    .img-container img {
        width:500px;
        height:375px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .content {
        margin:0;
        padding:30px 0px;
    }
    .content-container {
        padding:60px;
        padding-top:0;
        padding-bottom:0px;
    }
    .content-container h2 {
        margin-right: 70px;
        font-size:25px;
    }

    .content-container p {
        font-size:17px;
        line-height: 25px;
        margin-top:0px;
        margin-bottom: 0;
    }

    .contact {
        width:100%;
        padding: 0px 60px;
        padding-bottom: 20px;
        justify-content: flex-start;
    }

    .contact img {
        width:60px;
        height: auto;
        margin-right:30px;
    }

    .about {
        text-align: left;
        letter-spacing: 0.5px;
        margin-right:130px;
    }

    .share-icon {
        font-size: 29px;
        position: relative;
        top:60px;
    }  
    .active {
        height:175px;
        width:240px;
        top:auto;
        left:10px;
        position: relative;
        flex-direction: row;
        justify-content: space-around;  
        display: none;
        border-radius: 15px;
    }

    .social-media-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width:100px;
        margin-left:20px;
        margin-top:15px;
    }
    .active p {
        font-size: 17px;
        color:hsl(210, 46%, 95%);
        letter-spacing: 4.2px !important;
        opacity:0.5;
        margin-top:15px;
    }

}
